.product-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  width: 400px;
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.product-image {
  width: 400px;
  height: 300px;
}
.product-name {
  font-weight: bold;
}
.product-description {
  font-size: 25px;
  text-align: center;
}
.read-more {
  font-size: 20px;
}
.product-rating {
  color: rgb(80, 68, 1);
}
